.blog-posts {
    max-height: 40rem;
    overflow-y: scroll;
    padding: 2rem;
    background: radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
    ) no-repeat scroll center bottom;
    background-size: 100% 40px;
}

/* Icon */
ul.style li {
    clear: both;
    display: block;
    padding-top: 3em;
}

ul.style > :first-child {
    padding-top: 0;
}

ul.style h3 {
    display: block;
    margin: 0;
    padding-bottom: 0.50em;
    font-size: 1.1em;
    font-weight: 700;
    color: #404040;
}

ul.style .fa {
    float: left;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 1em;
    background: #3ac984;
    line-height: 80px;
    text-align: center;
    border-radius: 10px;
    font-size: 2em;
    color: white;
}