table#t01 {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

table#t01 tr {
    padding: 15px;
}

table#t01 th, table#t01 td {
    padding: 25px;
    text-align: center;
    width: 33%;
}

table#t01 th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

@media screen and (max-width: 840px) {

    table#t01 {
        border: 0;
    }

    table#t01 thead {
        display: none;
    }

    table#t01 tr {
        /* margin-bottom: 10px; */
        display: block;
        /* border-bottom: 22px solid #222233; */
    }

    table#t01 td {
        display: block;
        text-align: center;
        width: 100%;
        border-bottom: 2px dotted #ccc;
    }
}