@media (max-width: 840px) {
    #header {
        padding: 0;
    }

    #hamburger {
        display: inline-block;
        height: 3rem;
        cursor: pointer;
    }

    #logo #logo-dark {
        display: inline-block;
        height: 3rem;
    }

    #logo a {
        height: 3rem;
    }

    #logo #logo-light {
        display: none;
    }

    #logo {
        background-color: var(--background-dark);
        margin: 0;
        font-size: 1.5em;
    }

    nav {
        background-color: var(--background-dark);
        text-align: left;
        margin: 0;
        height: 3rem;
    }

    nav .container {
        padding: 0;
    }

    nav ul {
        max-height: 0;
        overflow: hidden;
    }

    nav.open ul {
        max-height: 100%;
    }

    nav ul {
        margin: 0;
    }

    nav > ul {
        padding: 1em;
    }

    nav > ul > li {
        display: block;
    }

    nav > ul > li > ul > li {
        display: block;
        padding-left: 2em;
    }

    .container {
        margin: 0;
        width: 100%;
        padding: 1rem;
    }

    /* Banner */
    #banner {
        margin-top: 1em;
        padding: 1rem;
    }

    #header.mountain-background {
        background-image: none;
    }

    #title {
        margin: 0;
    }
}