header.major {
    margin-bottom: 1em;
}

header h2 {
    margin: 0;
    padding: 0;
    font-size: 3em;
    font-weight: 600;
}

header .byline {
    font-size: 1.6em;
}

footer > :last-child {
    margin-bottom: 0;
}

footer.major {
    padding-top: 3em;
}

/* Icon */
ul.style li {
    clear: both;
    display: block;
    padding-top: 3em;
}

ul.style > :first-child {
    padding-top: 0;
}

ul.style h3 {
    display: block;
    margin: 0;
    padding-bottom: 0.50em;
    font-size: 1.1em;
    font-weight: 700;
    color: #404040;
}

ul.style .fa {
    float: left;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 1em;
    background: #3ac984;
    line-height: 80px;
    text-align: center;
    border-radius: 10px;
    font-size: 2em;
    color: white;
}

ul.list {
    list-style: none;
}

ul.list li {
    display: block;
    padding: 0.60em 0;
    border-top: 1px solid;
    border-color: red;
}

ul.list > :first-child {
    padding-top: 0;
    border-top: none;
}

/* Wrapper */
.wrapper.style1 {
    background: #fff;
}

.wrapper.style2 {
    background: #ececec;
    padding: 1em 0;
    text-align: center;
}

/* Header */
#header {
    background-color: var(--background-light);
    color: #fff;
    padding: 1em 0;
    text-align: center;
    position: relative;
}

#header.mountain-background {
    background-image: url('/images/background.svg');
    background-position: center top;
}

#header > * {
    position: relative;
    z-index: 1;
}

#logo {
    font-size: 2em;
}

/* Banner */
#banner {
    text-align: center;
}

#banner .major h2 {
    font-size: 3.5em;
}

#banner .major .byline {
    display: block;
    margin: 0em 2em;
    line-height: 1.6em;
    font-size: 1.5em;
}

#banner a {
    color: inherit;
}

/* Main */
.no-sidebar #main .major, .left-sidebar #main .major, .right-sidebar #main .major {
    text-align: left;
}

#main {
    padding: 1em 0;
}

/* Abstract */
#abstract {
    font-weight: bold;
    text-shadow: 2px 2px #696969;
}

/* Footer */
#footer {
    padding: 2% 2%;
    color: #fff;
}

#footer .major h2 {
    font-size: 2em;
    color: #FFF;
}

#footer .major .byline {
    font-size: 1.1em;
}

#footer .copyright {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 2px solid;
    border-color: rgba(192, 192, 192, 0.15);
    text-align: justify;
    color: inherit;

}

#footer a {
    color: inherit;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
}

.row > * {
    padding: 0 0 0 50px;
}

#hamburger {
    display: none;

    position: absolute;
    padding: 0 0.75em;
    left: 0;
    top: 0;
    line-height: 2.75em;
    cursor: pointer;
}

.button + .button {
    margin-left: 16px;
}

@media (max-width: 840px) {
    .button + .button {
        margin-left: 0;
        margin-top: 16px;
    }
}
