{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<h2 id="team">The VerCors Team</h2>

<h3>Group Leader</h3>
{% set profile = about.leader %}
{% include 'profile.html' %}

<h3>Members</h3>
<ul class="profiles">
    {% for profile in about.members %}
        <li>{% include 'profile.html' %}</li>
    {% endfor %}
</ul>

<h3>Alumni</h3>
<ul class="profiles">
    {% for profile in about.alumni %}
        <li>{% include 'profile.html' %}</li>
    {% endfor %}
</ul>

<h2 id="contact">Contact</h2>

<p>For any further information about VerCors, you can contact us via:</p>
<p><a href='{{ urls.external.support }}' target='_blank' class='url'>vercors@lists.utwente.nl</a></p>

<h2 id="credits">Credits</h2>

<p>VerCors is and has been supported by several projects:</p>

<ul class="sponsor-list">
    {% for sponsor in about.sponsors.values() %}
    <li>
        {% if sponsor.image %}
        <figure>
            <img src="{{ sponsor.image }}" alt="{{ sponsor.name }} Logo" height="150">
            <figcaption>
                <a href="{{ sponsor.url }}" target="_blank">{{ sponsor.name }}: {{ sponsor.desc }}</a>
                <br>
                {% autoescape false %}{{ sponsor.funding|md }}{% endautoescape %}
            </figcaption>
        </figure>
        {% else %}
        <p>
            <a href="{{ sponsor.url }}">{{ sponsor.name }}: {{ sponsor.desc }}</a>
            <br>
            {% autoescape false %}{{ sponsor.funding|md }}{% endautoescape %}
        </p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}