{% extends 'base.html' %}

{% block title %}Alpinist{% endblock %}

{% block content %}
<h1>Alpinist</h1>
<p>
    Alpinist is an annotation-aware GPU program optimizer. Alpinist takes an annotated GPU program and applies an
    optimization to both the GPU program as well as its annotations. The annotations are transformed in a way that
    preserves the provability of the resulting optimized GPU program. Alpinist has support for six frequently-used
    GPU program optimizations, namely loop unrolling, tiling, kernel fusion, iteration merging, matrix linearization and
    data prefetching.
</p>
{% endblock %}