
<div id="footer" class="dark">
    <footer class="container">
        <a href="{{ urls.external.fmt }}" target="_blank"><img src="/images/FMT logo.png" alt="Formal Methods & Tools logo" title="Formal Methods & Tools"></a>
        <hr>
        <div class="copyright">
            <a href="{{ urls.about }}#credits" target="_blank">Copyright <code>&copy</code> The VerCors Project 2007-{{ year }}</a>
            | <a href="{{ urls.external.fmt }}" target="_blank">FMT - University of Twente</a>
            | <a href="{{ urls.about }}">About Us</a>
        </div>
    </footer>
</div>