{% extends 'nolayout.html' %}

{% block title %}Home{% endblock %}

{% block headerstyle %}mountain-background secondary{% endblock %}
{% block banner %}
<div id="banner" class="container">
    <section>
        <h1 id="title">Verification of Concurrent<br>and Distributed Software</h1>
        <p id="abstract">
            The VerCors verifier is a tool for deductive verification of concurrent and parallel software. VerCors can reason
            about programs written in different programming languages, such as Java, C and OpenCL, where the specifications are
            written in terms of pre-post-condition contracts using permission-based separation logic. VerCors is able to reason
            about data-race freedom, memory safety, and functional correctness, and it has been applied on several realistic
            case studies.

            Several tools are being developed directly on top of VerCors by encoding their input languages to VerCors' internal
            representation, allowing reuse of the existing infrastructure for verification. These tools are Alpinist, Vesuv,
            and VeyMont.
        </p>
        {% include 'buttons.html' %}
    </section>
</div>
{% endblock %}

{% block content %}
<div class="alt">
    <section class="container">
        <h2>Latest News</h2>

        <div class="blog-posts">
            {% for article in news[:5] %}
            <header>
                <h3><a href="{{ urls.article|format(article.title|slugify) }}">{{ article.title }}</a></h3>
                <span class="byline">
                    <span class="date">{{ article.date }}</span>
                </span>
            </header>
            {% autoescape false %}{{ article.content|md }}{% endautoescape %}
            {% endfor %}

            <p class="button-row">
                <a href="{{ urls.news }}" class="button">More News</a>
            </p>
        </div>
    </section>
</div>

<!-- Main -->
<div>
    <section class="container cards">
        <h2>Resources</h2>

        <div class="card">
            <a class="icon" href="{{ urls.wiki }}#installing-and-running-vercors">
                <span class="fa fa-wrench"></span>
            </a><div class="card-content">
                <h3>Tool Installation</h3>
                <p>
                The VerCors toolset can be installed on macOSX, Linux and Windows (via Cygwin). Follow the complete installation guidelines
                    <a href="{{ urls.wiki }}#installing-and-running-vercors" class="url" target="_self">here</a>.
                </p>
            </div>
        </div><div class="card">
            <a class="icon" href="{{ urls.publications }}" target="_blank">
                <span class="fa fa-paperclip"></span>
            </a><div class="card-content">
                <h3>Latest Publications</h3>
                <p>
                    A complete list of publications is listed
                        <a href="{{ urls.publications }}" class="url" target="_self">here</a>.
                </p>
            </div>
        </div><div class="card">
            <a class="icon" href="{{ urls.external.issues }}" target="_blank">
                <span class="fa fa-bug"></span>
            </a><div class="card-content">
                <h3>Report a Bug</h3>
                <p>
                    For bug reports and feature requests, visit
                    <a href='{{ urls.external.issues }}' target='_blank' class='url'>the issues tracker</a>.
                    For questions and support,
                    <a href='{{ urls.external.support }}' target='_blank' class=''>email us</a>.
                </p>
            </div>
        </div><div class="card">
            <a class="icon" href="{{ urls.external.release }}" target="_blank">
                <span class="fa fa-download"></span>
            </a><div class="card-content">
                <h3>Latest Release</h3>
                <p>
                    Get the latest VerCors release from GitHub
                    <a href="{{ urls.external.release }}" target="_blank" class="link link--dark">here</a>.
                </p>
            </div>
        </div>
    </section>
</div>
{% endblock %}