{% extends 'nolayout.html' %}

{% block title %}Home{% endblock %}

{% block banner %}
<header class="major">
    <h2>Verification of Concurrent and Distributed Software</h2>
    <span id="abstract" class="byline">
        VerCors is a tool for static verification of parallel programs.
        VerCors aims to verify many different concurrency constructs,
        including: heterogeneous concurrency (Java and C), GPU kernels
        using barriers and atomics (OpenCL), and compiler directives
        as used in deterministic parallelism (OpenMP). VerCors is able
        to prove data-race freedom, memory safety, and functional
        correctness of (concurrent) programs written in Java, C,
        OpenCL, OpenMP, and its own Prototypal Verification Language PVL.
    </span>
</header>
{% endblock %}

{% block content %}
<div class="wrapper style2" style="background-color: #f1f1f1f1;text-align:center;">
    <section class="container">

        <header class="major" id="overview">
            <h2>Latest News</h2>
            <span class="byline"></span>
        </header>

        <p style="position:relative;text-align:center;">
        <div style="height:400px;width:76%;overflow:auto;background-color:#f1f1f1f1;scrollbar-base-color:gold;font-family:sans-serif;padding:10px;margin:auto;">
            <div class="blog-posts">
                {% for article in news %}
                <div class="blog-post spacing">
                    <h3><a href="{{ urls.article|format(article.title|slugify) }}">{{ article.title }}</a></h3>
                    <p class="summary">
                        <span class="date">{{ article.date }}</span>
                    </p>
                    {% autoescape false %}{{ article.content|md }}{% endautoescape %}
                </div>
                {% endfor %}
            </div>
        </div>
        </p>
    </section>
</div>

<!-- Main -->
<div id="main" class="wrapper style1">
    <section class="container">
        <table id="t01" text-align="left">
            <tr>
                <!-- The ul here is just to be able to see nice buttons -->
                <td style="text-align: left;">
                    <ul class="style">
                        <a href="{{ urls.wiki }}#installing-and-running-vercors" class="link link--dark" target="_self">
                            <span class="fa fa-wrench"></span>
                        </a>
                        <h2>Tool Installation</h2>
                        <p>
                            <span style="text-align:justify">
                                The VerCors toolset can be installed on macOSX, Linux and Windows (via Cygwin). Follow the complete installation guidelines
                                <a href="{{ urls.wiki }}#installing-and-running-vercors" class="url"
                                   target="_self">here</a>.
                            </span>
                        </p>
                    </ul>
                </td>
                <td style="text-align: left;">
                    <ul class="style">
                        <a href="{{ urls.publications }}" target="_blank" class="link link--dark">
                            <span class="fa fa-cloud"></span>
                        </a>
                        <h2>Latest Publications</h2>
                        <p>A complete list of publications is listed <a href="{{ urls.publications }}" class="url"
                                                                        target="_self">here</a>.</p>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="text-align: left;">
                    <ul class="style">
                        <a href="{{ urls.external.issues }}" target="_blank" class="link link--dark">
                        <span class="fa fa-cogs"></span>
                    </a>
                        <h2>Report a Bug</h2>
                        <p>For bug reports and feature requests,<br>
                            visit
                            <a href='{{ urls.external.issues }}' target='_blank' class='url'>the issues tracker</a>.
                            For questions and support,
                            <a href='{{ urls.external.support }}' target='_blank' class=''>email us</a>.
                        </p>
                    </ul>
                </td>
                <td style="text-align: left;">
                    <ul class="style">
                        <a href="{{ urls.external.release }}" target="_blank"
                           class="link link--dark">
                            <span class="fa fa-leaf"></span>
                        </a>
                        <h2>Latest Release</h2>
                        <p>Get VerCors latest release from GitHub.
                            <a href="{{ urls.external.release }}" target="_blank"
                               class="link link--dark">
                                <button>
                                    <img src="/images/release.png" width="5%" height="5%" alt="Release"></button></p>
                        </a>
                    </ul>
                </td>
            </tr>
        </table>
    </section>
</div>
{% endblock %}