{% extends 'base.html' %}

{% block title %}Publications{% endblock %}

{% block content %}
<section>
    <header class="major">
        <h2><strong> Publications</strong></h2>
    </header>

    {% autoescape false %}
        {{ references_html }}
    {% endautoescape %}
</section>

<section>
    <header class="minor">
        <h3><strong> External Publications Relating to VerCors</strong></h2>
    </header>

    <ul>
    {% for paper in external_papers %}
    {% if "url" in paper %}
    {% autoescape false %}
    <li><b><a href="{{ paper.url }}">{{ paper.title }}.</a></b> {{ paper.content }} <a href="{{ paper.url }}">{{ paper.url }}</a></li>
    {% endautoescape %}
    {% else %}
    {% autoescape false %}
    <li><b>{{ paper.title }}</b> {{ paper.content }} </li>   
    {% endautoescape %}
    {% endif %}
    {% endfor %}
    </ul></section>
{% endblock %}
