{% from 'verification_editor.html' import verification_editor %}
<!DOCTYPE HTML>
<!--
VerCors Tool --- Formal Methods and Tools Group (EWI)
University of Twente, Enschede, The Netherlands
-->
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} · VerCors Tool FMT | UTwente </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <meta name="title" property="og:title" content="VerCors Verifier for Parallel Software">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://vercors.ewi.utwente.nl/images/opengraph-logo.png">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:alt" content="The text 'VerCors' with a red mountain ridge on the top right">
        <meta property="og:url" content="https://utwente.nl/vercors">
        <meta name="description" property="og:description" content="The VerCors verifier is a tool for deductive verification of concurrent and parallel software. VerCors can reason about programs written in different programming languages, such as Java, C and OpenCL, where the specifications are written in terms of pre-post-condition contracts using permission-based separation logic. VerCors is able to reason about data-race freedom, memory safety, and functional correctness, and it has been applied on several realistic case studies. Several tools are being developed directly on top of VerCors by encoding their input languages to VerCors' internal representation, allowing reuse of the existing infrastructure for verification. These tools are Alpinist, Vesuv, and VeyMont.">
        <meta name="keywords" content="software, formal verification, deductive verification, java, c, opencl, openmp, cuda, separation logic">
        <meta name="theme-color" content="#d12010">

        <link rel="icon" href="/images/icon.svg">

        <link rel="stylesheet" href="/css/highlight/default.css">
        <link rel="stylesheet" href="/css/external/datatables.min.css">
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/elements.css">
        <link rel="stylesheet" href="/css/colors.css">
        <link rel="stylesheet" href="/css/shared.css">
        <link rel="stylesheet" href="/css/datatables.css">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/online.css">
        <link rel="stylesheet" href="/css/credits.css">
        <link rel="stylesheet" href="/css/responsive.css">

        <script src="/js/jquery.min.js"></script>
        <script src="/js/highlight.pack.js"></script>
        <script src="/js/ace.js"></script>
        <script src="/js/datatables.min.js"></script>
        <script src="/js/vercorsonline.js"></script>
        <script src="/js/init.js"></script>

        <!--<script type="text/javascript">
            hljs.initHighlightingOnLoad();
        </script>-->
    </head>
    <body class="no-sidebar">
        <div id="header" class="{% block headerstyle %}{% endblock %}">
        {% include 'header.html' %}
        {% block banner %}{% endblock %}
        </div>

        {% block rootcontent %} {% endblock %}

        {% include 'footer.html' %}
    </body>
</html>
