{% macro verification_editor(initial_code, languages, initial_language="pvl") %}
<div class="verification-container" data-template-kind="test">
    <pre style="margin-bottom: 0" class="verification-text playground"><code class="language-{{ initial_language }} no_run editable">{{ initial_code }}</code></pre><div style="background-color: #dddddd; padding: 0.4ex 1ex">
        <label class="control-label" for="example-backendid">Language:</label>
        <select name="lang" id="example-backendid" class="form-control">
            {% for ext, lang in languages.items() %}
                <option value="{{ ext }}" {% if initial_language == ext %}selected=""{% endif %}>{{ lang.name }}</option>
            {% endfor %}
        </select>
    </div><div class="verification-progress verification-non-plain" style="display: none; background-color: #dddddd; padding: 0.4ex 1ex" >
        <span class="fa"></span>
        <span class="verification-progress-text"></span>
    </div>
    <pre class="verification-log verification-non-plain" style="display: none"></pre>
</div>
{% endmacro %}